<app-menu></app-menu>

<main role="main">

    
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-lg-8">
                <app-pelicula-listado [listadoPeliculas]="listadoPeliculasBase" (enviarPelicula)="recibirPeliculaBase($event)"></app-pelicula-listado>
            </div>
            <div class="col-lg-4">
                <app-detalle-pelicula [miPelicula]="miPeliculaBase"></app-detalle-pelicula>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

<footer class="container">
    <p>&copy; 2022 Lucas Martín Mascheroni</p>
</footer>