<div class="container">
    <app-menu></app-menu>

    <div class="mt-5 py-5 text-center">
        <img class="d-block mx-auto mb-4"
            src="https://w7.pngwing.com/pngs/150/272/png-transparent-graphic-film-movie-icons-cinema-clapperboard-others-miscellaneous-angle-text.png"
            alt="" width="72" height="72">
        <h2>Películas</h2>
    </div>

    <router-outlet></router-outlet>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2022 Lucas Martín Mascheroni</p>
    </footer>
</div>