<div class="despegar-del-menu" *ngIf="miPelicula.id">
    <h2>{{ miPelicula.id }} - {{ miPelicula.nombre }}</h2>
    <img [src]="miPelicula.fotoPelicula" alt="foto-{{ miPelicula.nombre }}" height="100">
    <p>{{ miPelicula.descripcion }}</p>
    <ul>
        <li>Género: {{ miPelicula.tipo }}</li>
        <li>Estreno: {{ miPelicula.fechaEstreno }}</li>
        <li>Público: {{ miPelicula.cantidadPublico }}</li>
        <li>Presupuesto: {{ miPelicula.costo }}</li>
        <li>Recaudación: {{ miPelicula.recaudacion }}</li>
        <li>Actor: {{ miPelicula.actor.nombre != undefined && miPelicula.actor.apellido != undefined ? miPelicula.actor.nombre + ' ' + miPelicula.actor.apellido : 'Desconocido' }}</li>
    </ul>
    <p><a class="btn btn-secondary" role="button" (click)="limpiarDetalle()">Limpiar &raquo;</a></p>
</div>